/* for scaling to screen width */
html {
    font-size: 5vw;
}

/* global styling */

body {
    background-color: forestgreen;
    color: whitesmoke;
    font-family: 'Bree Serif', serif;
    text-align: center;
    margin: 0;
}

/* Heading and Menu button */

.heading {
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    z-index: 99;
    margin-top: 1.2rem;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem 0.5rem;
    background-color: #186018;
    z-index: 98;
}

#menu>h2 {
    text-align: left;
    margin-top: 1.2rem;
    margin-bottom: 0;
}

#menu-toggle,
#menu-list {
    display: none;
    padding: 0;
    margin: 0;
}

#menu-list li,
#menu-list ul {
    list-style-type: none;
    text-align: left;
    margin: .8rem 0;
    font-size: 1.2rem;
}

#menu-list ul {
    padding: 0 1rem;
}

#menu-list li>a {
    text-decoration: none;
    color: inherit;
}

#wlcm-msg,
#play {
    font-size: 4rem;
}

.btns {
    background-color: rgb(221, 122 , 0);
    box-shadow: .2rem .2rem .2rem 0px rgb(0,0,0);
    border-radius: 0.3rem;
    margin: .5rem;
}

.bg-btns {
    display: inline-block;
    padding: 1rem;
    border-radius: .7rem;
    font-size: 2rem;
    margin: 1rem;
}

#player-form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-form table {
    margin-bottom: 1rem;
}

.input-field {
    font-size: 1rem;
    padding: .2rem;
    margin: .2rem;
}

.add-bot {
    margin: .3rem;
    padding: .3rem;
}

.player {
    display: inline-flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.player-name,
.top-cards,
.btm-cards,
#decks {
    display: flex;
    justify-content: space-around;
}

.card,
.deck {
    display: inline-block;
    height: 3.13rem;
    width: 2.19rem;
    border-radius: .31rem;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    align-content: center;
    margin: .15rem;
}

.deck {
    height: 6.25rem;
    width: 4.38rem;
    font-size: 3rem;
    margin: 0.5rem;
    box-shadow: .1rem .1rem .1rem .15rem rgba(0, 0, 0, .5);
}

.missing-card {
    background-color: transparent;
    border: .2rem dashed rgba(245, 245, 245, .5);
    box-shadow: none;
}

#decks {
    padding-bottom: 1rem;
}

#decks>span {
    padding: 1rem;
    display: grid;
    height: 6.25rem;
    width: 4.38rem;
}

#draw-stack,
#draw-stack-1,
#draw-stack-2,
#discard-stack,
#discard-stack-1,
#discard-stack-2 {
    position: absolute;
}

#draw-stack {
    z-index: 5;
    margin: 0;
}

#draw-stack-1,
#discard-stack {
    z-index: 4;
}

#draw-stack-2,
#discard-stack-1 {
    z-index: 3;
}

#discard-stack-2 {
    z-index: 2;
    margin: .64rem;
}

#discard-stack {
    margin: 0;
}

#draw-stack-1,
#discard-stack-1 {
    margin: .32rem;
}

#draw-stack-2 {
    margin: .64rem;
}


.scores {
    display: flex;
    justify-content: space-evenly;
}

.scores span {
    width: 4.38rem;
    border-radius: 1rem;
    background-color: lightslategrey;
    text-align: center;
    align-content: center;
    margin: .2rem 0;
    padding: .3rem;
}

.prompt {
    font-size: 3rem;
}

.hidden {
    display: none;
}

/* for scaling font size only by height when display is as wide as 56% of the height or wider */
@media screen and (min-aspect-ratio:0.56) {
    html {
        font-size: 2.7vh;
    }

}

/* for adding proportionate margins to the body once the aspect ratio of the display is greater 
than 1.3, this margin keeps the proportions of the game cleaner   */
@media screen and (min-aspect-ratio:1.3) {
    body {
        margin: auto 20vw;
    }
}